*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
}

:root {
  --blue: rgb(70, 150, 170);
}

svg {
  height: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: end;
  padding-right: 30px;
}

h2 {
  font-weight: normal;
  font-size: 1.7rem;
  text-align: center;
}

h3 {
  color: black;
  font-size: 1.7rem;
  font-weight: normal;
}

h4 {
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
}

.container {
  display: grid;
  justify-items: center;
  gap: 30px;
}

header,
main,
footer {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

header,
footer {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

header {
  min-height: 100vh;
  padding: 1rem;
}

.profile-container {
  display: grid;
  justify-items: center;
}

.header-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.bio-image-container {
  position: relative;
}

.header-title {
  position: absolute;
  bottom: 7%;
  color: white;
  font-weight: normal;
  display: grid;
  justify-items: center;
  width: 100%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
  padding-left: 10px;
}

.bio-description,
.bio-title,
.links-container {
  margin: -1px;
  padding: 10px;
  background-color: white;
  width: 100%;
}

.bio-title {
  text-align: center;
}

.bio-description {
  color: rgb(87, 87, 87);
}

footer {
  color: white;
}

.contact-container {
  display: grid;
  gap: 15px;
  max-height: 300px;
  padding: 1rem;
}

p {
  display: flex;
  align-content: center;
  gap: 5px;
}

.white-svg {
  fill: white;
}

.contact {
  font-size: 0.8rem;
}

.contact-icon {
  height: 30px;
}

.contact-icons {
  justify-content: space-evenly;
}

.footer-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

main {
  display: grid;
}

.main-title {
  padding-bottom: 30px;
  font-weight: bold;
}

.project-container {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 15px;
}

section {
  max-width: 90vw;
  box-shadow: 0px 2px 5px 1px rgb(87, 87, 87);
  aspect-ratio: 8/9;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-icons {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (min-width: 600px) {
  .bio-image-container {
    max-width: 400px;
  }

  .profile-container {
    margin: 0px 5rem;
  }

  .footer-image {
    max-height: 400px;
    padding: 30px;
    justify-self: start;
  }

  .contact-icons {
    justify-content: start;
    gap: 30px;
  }

  .contact-container {
    width: min-content;
  }
}
